<div class="container mt-4">
  <div class="card shadow">
    
    <div class="card-header bg-warning text-dark">
      <h3 class="mb-0">
        <i class="bi bi-pencil-square"></i> Modifier un article
      </h3>
    </div>

    <div class="card-body">

      <form (ngSubmit)="updateArticle()">

        <!-- Libelle -->
        <div class="mb-3">
          <label class="form-label fw-bold">Libelle</label>
          <input 
            type="text" 
            class="form-control"
            [(ngModel)]="article.libelle" 
            name="libelle" 
            required>
        </div>

        <!-- Stock -->
        <div class="mb-3">
          <label class="form-label fw-bold">Stock</label>
          <input 
            type="number" 
            class="form-control"
            [(ngModel)]="article.quantiteEnStock" 
            name="quantiteEnStock" 
            required>
        </div>

        <!-- Seuil -->
        <div class="mb-3">
          <label class="form-label fw-bold">Seuil</label>
          <input 
            type="number" 
            class="form-control"
            [(ngModel)]="article.seuilAlerte" 
            name="seuilAlerte" 
            required>
        </div>

        <!-- Buttons -->
        <div class="d-flex gap-2 mt-3">
          <button type="submit" class="btn btn-warning">
            <i class="bi bi-save"></i> Update
          </button>

          <a routerLink="/articles" class="btn btn-secondary">
            <i class="bi bi-arrow-left"></i> Retour
          </a>
        </div>

      </form>

    </div>
  </div>
</div>