<div>

  <input [(ngModel)]="serveurName" placeholder="Nom serveur">
  <button (click)="loadTickets()">Load</button>

  <div id="ticket">

    <h2 style="text-align:center">SMART RESTO</h2>
    <p>Date: {{ today | date:'dd/MM/yyyy HH:mm' }}</p>

    <hr>

    <div *ngFor="let t of tickets">
      <p>{{ t.produit }}</p>
      <p>{{ t.quantite }} x {{ t.prix }} DH</p>
      <p><b>{{ t.total }} DH</b></p>
      <hr>
    </div>

    <h3>Total du jour: {{ totalJour }} DH</h3>

  </div>

  <button (click)="print()">🖨️ Print</button>

</div>