/* src/app/admin-dashboard/admin-dashboard.component.css */

.btn-action {
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid transparent;
}

.btn-action:hover {
  transform: translateY(-5px);
  background: #fff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.05)!important;
}

.active-card {
  border-color: #ce1212 !important;
  background: #fff !important;
  box-shadow: 0 5px 15px rgba(206, 18, 18, 0.1) !important;
}

.form-control:focus, .form-select:focus {
  border-color: #ce1212;
  box-shadow: none;
}